@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body div.jumbotron{
    background-color: #d9e7cb; 
    border-radius: 10px;
}

.wrapper{
    position: absolute;
    padding: 20px;
}

.title{
    background: #f3f4f8;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

div.card.border-light div.card-body div.card-columns div.card img.card-img.preview{
    object-fit: cover;
    height: 120px;
}

html body div.wrapper div.card-deck div.card.border-light div.card-body div.card-columns{
    padding-left: 0;
}

html body div.wrapper div.card-deck div.card.border-light div.card-body div.card-columns.card{
    padding-left: 0;
    margin-left: 0;
}

#choosen_image{
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
}

.choosen_preview{
    border-style: groove;
    border-color: rgb(113, 198, 165);
}

.card-columns{
    padding: 15px;
}

div.card.border-light div.card-body{
    padding-top: 0;
}

div.card.border-light h5.card-header{
    border-bottom: 0px;
    background:none;
}

#drop_zone {
    display: block;
    border: 2px dashed rgb(113, 198, 165);
    text-align: center;
    cursor: pointer;
}

.alert{
    padding: auto;
}
.alert-warning{
    font-size: small;
}

.card-img-overlay{
    padding-top: 0;
}

img.card-img-top{
    width: 100px;
    height: 100px;
    opacity: 20%;
    padding: 2%;
}

.choose_file #choose_file{
    outline: none;
    opacity: 0;
    width: 0;
}
.choose_file span{
    font-size: 14px;
    color: white;
}

.choose_file label:hover span{
    text-decoration: underline;
}